<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.bookType.BookTypeDao">
    <select id="type" resultType="com.entity.bookType.BookType">
    select bookTypeId,bookTypeName from booltype order by bookTypeId
    </select>
</mapper>